body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    background-image:url("formbckg.jpg")
}
header {
    background-color: #037bfc;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px ;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    text-decoration: wavy;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fcfbfb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
    color: green;
}
